export DOMAIN=your-app-name.heroku.com
export RDIO_API_KEY=<YOUR_RDIO_API_KEY>
export RDIO_API_SHARED_SECRET=<YOUR_RDIO_SHARED_SECRET>
export ECHONEST_API_KEY=<YOUR_ECHONEST_API_KEY>
export ECHONEST_CONSUMER_KEY=<YOUR_ECHONEST_CONSUMER_KEY>
export ECHONEST_API_SHARED_SECRET=<YOUR_ECHONEST_SHARED_SECRET>
