!!! 5
%html.no-js{lang: "en", ng: {app: 'PlaylisterApp'}}
  %head
    %meta{charset: "utf-8"}
    %title Weekly Rdio Playlister
    %meta{name: "description", content: "Turn your weekly Last.fm listening charts into Rdio playlists."}
    %meta{name: "author", content: "Sarah Vessels"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'}
    %link{rel: "stylesheet", href: "css/screen.css"}
    /[if (lt IE 9) & (!IEMobile)]
      %script{src: "//html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    .navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/'} Weekly Rdio Playlister
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
    .container{ng: {controller: 'PlaylistController'}}
      %p.alert.alert-danger.clearfix{ng: {show: 'error'}}
        %a.pull-right{ng: {click: 'error = false'}}
          %span.glyphicon.glyphicon-remove
        {{error}}
      %form.form-inline{role: 'form', ng: {show: 'weeks.length < 1', submit: 'get_weekly_chart_list()'}}
        .form-group
          %label.sr-only{for: 'lastfm_user'}
            Last.fm user name:
          %input#lastfm_user.form-control{type: 'text', placeholder: 'Last.fm user name', ng: {model: 'lastfm.user'}}
        %button.btn.btn-default{type: 'submit'} Get Listening History
      %div{ng: {show: 'chart.tracks && chart.tracks.length > 0'}}
        %h2.clearfix
          %a.pull-right{ng: {click: 'chart.tracks = []'}}
            %span.glyphicon.glyphicon-remove
          Tracks for {{chart.to_s()}}
        %div{ng: {repeat: 'j in chart.track_range()'}}
          .row
            .col-md-3{ng: {repeat: 'track in chart.tracks.slice(j, j+4)'}}
              %a.track{href: '{{track.url}}', target: '_blank'}
                %img{ng: {src: '{{track.large_image}}'}}
                %br
                %span {{track.name}} by {{track.artist}}
          %hr
      %div{ng: {show: '(!chart.tracks || chart.tracks.length < 1) && weeks.length > 0'}}
        %h2.clearfix
          %a.pull-right{ng: {click: 'weeks = []'}}
            %span.glyphicon.glyphicon-remove
          Weeks
        .row{ng: {repeat: 'i in week_range()'}}
          .col-md-4{ng: {repeat: 'chart in weeks.slice(i, i+3)'}}
            %a{ng: {click: 'get_weekly_track_chart(chart)'}}
              {{chart.to_s()}}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js'}
    %script{src: 'js/moment.min.js'}
    %script{src: "js/ui-bootstrap-0.6.0.min.js"}
    %script{src: "js/ui-bootstrap-tpls-0.6.0.min.js"}
    %script{src: "js/app.js"}
    %script{src: "js/services/playlister_config_service.js"}
    %script{src: "js/services/lastfm_service.js"}
    %script{src: "js/services/lastfm_charts_service.js"}
    %script{src: "js/models/lastfm_chart.js"}
    %script{src: "js/models/lastfm_track.js"}
    %script{src: "js/controllers/playlist_controller.js"}
    -# :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
