!!! 5
%html.no-js{lang: "en", ng: {app: 'PlaylisterApp'}}
  %head
    %meta{charset: "utf-8"}
    %title Weekly Rdio Playlister
    %meta{name: "description", content: "Turn your weekly Last.fm listening charts into Rdio playlists."}
    %meta{name: "author", content: "Sarah Vessels"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: 'stylesheet', href: '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'}
    %link{rel: "stylesheet", href: "/css/screen.css"}
    /[if (lt IE 9) & (!IEMobile)]
      %script{src: "//html5shim.googlecode.com/svn/trunk/html5.js"}
  %body
    .navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '/'} Weekly Rdio Playlister
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
    .container
      .notifications{ng: {controller: 'NotificationsController'}}
        %p.alert.alert-danger.clearfix{ng: {repeat: 'error in errors'}}
          %a.pull-right.alert-link{ng: {click: "remove('error', error.id)"}}
            %span.glyphicon.glyphicon-remove
          {{error.message}}
        %p.alert.alert-success.clearfix{ng: {repeat: 'notice in notices'}}
          %a.pull-right.alert-link{ng: {click: "remove('notice', notice.id)"}}
            %span.glyphicon.glyphicon-remove
          {{notice.message}}
      %div{ng: {view: ''}}
    %footer
      .container
        %p
          Built by
          %a{href: 'http://www.sarah-vessels.com/'}
            Sarah Vessels
          using AngularJS, Sinatra, the
          %a{href: 'http://www.last.fm/api'}
            Last.fm API,
          and the
          %a{href: 'http://www.rdio.com/developers/'}
            Rdio API.
        %p
          %a{href: 'https://github.com/moneypenny/weekly-rdio-playlister'}
            Source code on Github
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js'}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js'}
    %script{src: '/js/moment.min.js'}
    %script{src: '/js/ui-bootstrap-0.6.0.min.js'}
    %script{src: '/js/ui-bootstrap-tpls-0.6.0.min.js'}
    %script{src: '/js/app.js'}
    %script{src: '/js/services/notification_service.js'}
    %script{src: '/js/services/playlister_config_service.js'}
    %script{src: '/js/services/lastfm_service.js'}
    %script{src: '/js/services/lastfm_charts_service.js'}
    %script{src: '/js/services/rdio_catalog_service.js'}
    %script{src: '/js/services/rdio_playlist_service.js'}
    %script{src: '/js/models/lastfm_chart.js'}
    %script{src: '/js/models/lastfm_track.js'}
    %script{src: '/js/controllers/playlist_controller.js'}
    %script{src: '/js/controllers/notifications_controller.js'}
    %script{src: '/js/routes.js'}
    -# :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
