%div{ng: {controller: 'PlaylistController', init: 'lastfm_tracks()'}}
  .row
    .col-md-8
      .page-header.clearfix
        %h1.pull-left.back-link-container
          %a.back-link{href: '#/lastfm/{{lastfm_user.user_name}}', tooltip: 'Choose a different time span', 'tooltip-placement' => 'right', ng: {click: 'wipe_notifications(); reset_playlist()'}}
            %span.glyphicon.glyphicon-chevron-left
        .pull-left
          %h1
            Tracks for {{chart.to_s()}}
          %h2.subtitle{ng: {if: 'chart.tracks.length > 0'}}
            Showing {{filtered_tracks.length}} of {{chart.track_count()}}
            %span{ng: {show: 'chart.track_count() === 1'}}
              track
            %span{ng: {show: 'chart.track_count() !== 1'}}
              tracks
            %form.form-inline
              \/
              %label.control-label{for: 'track_filters_min_play_count'}
                Minimum play count:
              %input#track_filters_min_play_count.form-control{type: 'number', ng: {model: 'track_filters.min_play_count', change: 'update_playlist_name()'}}
      %div{ng: {if: '!chart.loaded'}}
        %p
          Loading scrobbled tracks from Last.fm...
      %div{ng: {if: 'chart.loaded && chart.tracks.length < 1'}}
        %p.no-tracks-message
          There is no listening history for Last.fm user
          %strong {{lastfm_user.user_name}}
          during {{chart.to_s()}}.
        %p
          %a{href: '#/lastfm/{{lastfm_user.user_name}}', ng: {click: 'wipe_notifications()'}}
            &larr; Choose a different time span
      %a.track{href: '{{track.url}}', id: '{{track.mbid}}', target: '_blank', ng: {repeat: 'track in filtered_tracks = (chart.tracks | filter:play_count_filter)', class: "{matching: track.matching, matched: track.matched, missing: track.missing}"}}
        %img{ng: {src: '{{track.large_image}}'}}
        %div.track-info
          %span.track-name{tooltip: '{{track.name}}', 'tooltip-placement' => 'bottom'}
            {{track.name}}
          %span.track-artist-divider by
          %span.artist-name{tooltip: '{{track.artist}}', 'tooltip-placement' => 'bottom'}
            {{track.artist}}
          %span.play-count {{track.play_count}}x
    .col-md-4
      .created-playlist{ng: {if: 'playlist.id'}}
        .clearfix
          %h3 Your Playlist
          %p
            %a.playlist{href: '{{playlist.url}}', target: '_blank'}
              %img{ng: {src: '{{playlist.image_url}}'}}
              %span.playlist-name {{playlist.name}}
              %span.track-count
                {{playlist.song_count}}
                %span{ng: {if: 'playlist.song_count === 1'}}
                  track
                %span{ng: {if: 'playlist.song_count !== 1'}}
                  tracks
        %hr
      %div{ng: {if: 'filtered_tracks.length > 0'}}
        %form.create-playlist{ng: {submit: 'create_playlist()'}}
          %h3 Create an Rdio Playlist
          .form-group
            %label.control-label{for: 'playlist_name'}
              Name:
            %input#playlist_name.form-control{type: 'text', placeholder: 'Playlist name', ng: {model: 'playlist.name'}}
          .form-group
            %label.control-label{for: 'playlist_description'}
              Description:
            %textarea#playlist_description.form-control{rows: '3', placeholder: 'Playlist description', ng: {model: 'playlist.description'}}
          .form-group
            %input.btn.btn-primary{type: 'submit', value: 'Create Playlist'}
