%div{ng: {controller: 'PlaylistController', init: 'lastfm_weeks()'}}
  .page-header.clearfix
    %h1.pull-left
      %a.back-link{href: '#/', tooltip: 'Choose a different Last.fm user', ng: {click: 'wipe_notifications()'}}
        %span.glyphicon.glyphicon-chevron-left
    .pull-left
      %h1
        Weekly Listening History for
        %span.lastfm-user {{lastfm.user}}
      %h2.subtitle{ng: {if: 'year_charts.length > 0'}}
        %form.form-inline
          %label.control-label{for: 'chart_filters_year_chart'}
            Filter:
          %select#chart_filters_year_chart.form-control{ng: {model: 'chart_filters.year_chart', options: 'year_chart.year for year_chart in year_charts'}}
            %option{value: ''} All years
  %div{ng: {if: 'year_charts.length < 1'}}
    %p
      There is no weekly listening history for Last.fm user {{lastfm.user}}.
    %p
      %a{href: '#/', ng: {click: 'wipe_notifications()'}}
        &larr; Choose a different Last.fm user
  .chart-weeks
    %span{class: 'year-{{year_chart.year}}', ng: {repeat: 'year_chart in filtered_years = (year_charts | filter:chart_year_filter)'}}
      {{year_chart.year}}
      %a.week-link{href: '#/lastfm/{{lastfm.user}}/chart/{{chart.from}}/{{chart.to}}', ng: {class: "{trackless: chart.no_tracks}", repeat: 'chart in year_chart.charts'}}
        {{chart.to_s()}}
