%div{ng: {controller: 'PlaylistController', init: 'lastfm_weeks()'}}
  .page-header.clearfix
    %h1.pull-left.back-link-container
      %a.back-link{href: '#/', tooltip: 'Choose a different Last.fm user', 'tooltip-placement' => 'right', ng: {click: 'wipe_notifications()'}}
        %span.glyphicon.glyphicon-chevron-left
    .pull-left
      .row
        .col-md-8.clearfix
          .pull-left{ng: {if: 'lastfm_user.id'}}
            %a.lastfm-user-link{href: '{{lastfm_user.url}}', tooltip: '{{lastfm_user.user_name}}'}
              %img.lastfm-user-image{width: '64', height: '64', ng: {src: '{{lastfm_user.medium_image}}'}}
          .pull-left
            %h1
              %span.nowrap
                Weekly Listening History for
              %span.lastfm-user
                %span{ng: {if: 'lastfm_user.real_name'}}
                  {{lastfm_user.real_name}}
                %span{ng: {if: '!lastfm_user.real_name'}}
                  {{lastfm_user.user_name}}
            %h2.subtitle{ng: {if: 'year_charts.length > 0'}}
              %span.nowrap{ng: {if: 'lastfm_user.id'}}
                Last.fm user since
                {{lastfm_user.date_registered_str()}}
              %form.form-inline.nowrap
                \/
                %label.control-label{for: 'chart_filters_year_chart'}
                  Filter:
                %select#chart_filters_year_chart.form-control{ng: {model: 'chart_filters.year_chart', options: 'year_chart.year for year_chart in year_charts'}}
                  %option{value: ''} All years
        .col-md-4
          .neighbors{ng: {if: 'lastfm_neighbors.length > 0'}}
            %h2.subtitle
              Similar Last.fm users:
            %p
              %span{ng: {repeat: 'neighbor in lastfm_neighbors'}}
                %a{href: '#/lastfm/{{neighbor.user_name}}'}
                  {{neighbor.user_name}}
  %div{ng: {if: 'status.loading'}}
    %p
      Loading listening history from Last.fm...
  %div{ng: {if: '!status.loading && year_charts.length < 1'}}
    %p
      There is no weekly listening history for Last.fm user {{lastfm_user.user_name}}.
    %p
      %a{href: '#/', ng: {click: 'wipe_notifications()'}}
        &larr; Choose a different Last.fm user
  .chart-weeks
    %div{class: 'year-{{year_chart.year}}', ng: {repeat: 'year_chart in filtered_years = (year_charts | filter:chart_year_filter)'}}
      %h3 {{year_chart.year}}
      %a.week-link{href: '#/lastfm/{{lastfm_user.user_name}}/chart/{{chart.from}}/{{chart.to}}', ng: {class: "{trackless: chart.no_tracks}", repeat: 'chart in year_chart.charts'}}
        {{chart.to_s()}}
      %hr
