%div{ng: {controller: 'PlaylistController'}}
  %form.form-inline{ng: {submit: 'go_to_weeks_list()'}}
    .form-group
      %label.sr-only{for: 'lastfm_user'}
        Last.fm user name:
      %input#lastfm_user.form-control.input-lg{type: 'text', placeholder: 'Last.fm user name', ng: {model: 'lastfm.user'}}
    %button.btn.btn-lastfm.btn-lg{type: 'submit'} Get Last.fm History
