a.github-ribbon{position:absolute;top:0;right:0;z-index:9000}a.github-ribbon img{border:0}
a[ng-click]{cursor:pointer}
body{padding-top:60px}
.btn-lastfm{background-color:#c91e24;color:white}.btn-lastfm:hover,.btn-lastfm:focus{color:white;background-color:#db3d43}
footer{padding-top:40px;padding-bottom:30px;margin-top:100px;color:#777;border-top:1px solid #e5e5e5}
form{margin-bottom:20px}form.subtle legend{margin-bottom:5px;border-bottom:none;font-weight:700;font-size:14px}
h1,h2,h3{font-weight:300}h1 a:hover,h2 a:hover,h3 a:hover,h1 a:focus,h2 a:focus,h3 a:focus{text-decoration:none}
h1 .back-link{font-size:24px}
h1.pull-left .back-link{margin-right:5px}
h1 .divider{color:#999}
.jumbotron .btn{font-size:21px;padding:14px 24px}
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none !important}
.page-header{margin-top:0}
.playlist img{display:block;margin-right:10px;border-radius:10px;float:left;max-width:33%}
.playlist .playlist-name{display:block}
.playlist .track-count{font-size:12px;color:#999;font-style:italic}
.playlist:hover,.playlist:focus{text-decoration:none}
.subtitle{color:#999;font-size:16px;margin-top:10px;margin-bottom:0}.subtitle form{display:inline-block;margin-left:10px}.subtitle form label{font-weight:300;padding-left:10px}
.subtitle form .form-control{padding:3px 7px;height:auto}
.track{width:23%;margin:0 1.8% 10px 0;padding:10px;box-sizing:border-box;text-align:center;display:inline-block;overflow:hidden;border-radius:10px;-webkit-transition:background .5s ease-in-out;-moz-transition:background .5s ease-in-out;-ms-transition:background .5s ease-in-out;-o-transition:background .5s ease-in-out;transition:background .5s ease-in-out}.track:hover,.track:focus{text-decoration:none;background-color:#e5e3e9}
.track.missing{background-color:#f2dede;color:#b94a48}.track.missing:hover,.track.missing:focus{background-color:#e8baba}
.track.missing .track-artist-divider,.track.missing .play-count{color:#cf6d6b}
.track.matching{background-color:#d9edf7;color:#3a87ad}.track.matching:hover,.track.matching:focus{background-color:#a5d2e8}
.track.matching .track-artist-divider,.track.matching .play-count{color:#62aacc}
.track.matched{background-color:#0091d4;color:white}.track.matched:hover,.track.matched:focus{background-color:#007fb5}
.track.matched .track-artist-divider,.track.matched .play-count{color:#efefef}
.track img{height:73px;margin-left:auto;margin-right:auto;display:block;border-radius:10px}
.track .play-count{font-size:12px;color:#999;font-style:italic}.track .play-count:before{content:'('}
.track .play-count:after{content:')'}
.track .track-artist-divider{font-style:italic;color:#999}
.track .artist-name,.track .track-name{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.track .artist-name{max-width:70%;display:inline-block;vertical-align:middle}
.track .track-name{max-width:100%;display:block}
#track_filters_min_play_count{width:4.5em}
