<div ng-controller='PlaylistController' ng-init='lastfm_tracks()'>
  <div class='row'>
    <div class='col-md-8'>
      <div class='page-header clearfix'>
        <h1 class='pull-left back-link-container'>
          <a class='back-link' href='#/lastfm/{{lastfm.user}}' ng-click='wipe_notifications(); reset_playlist()' tooltip-placement='right' tooltip='Choose a different time span'>
            <span class='glyphicon glyphicon-chevron-left'></span>
          </a>
        </h1>
        <div class='pull-left'>
          <h1>
            Tracks for {{chart.to_s()}}
          </h1>
          <h2 class='subtitle' ng-if='chart.tracks.length &gt; 0'>
            Showing {{filtered_tracks.length}} of {{chart.track_count()}}
            <span ng-show='chart.track_count() === 1'>
              track
            </span>
            <span ng-show='chart.track_count() !== 1'>
              tracks
            </span>
            <form class='form-inline'>
              /
              <label class='control-label' for='track_filters_min_play_count'>
                Minimum play count:
              </label>
              <input class='form-control' id='track_filters_min_play_count' ng-model='track_filters.min_play_count' type='number'>
            </form>
          </h2>
        </div>
      </div>
      <div ng-if='chart.tracks.length &lt; 1'>
        <p class='no-tracks-message'>
          There is no listening history for Last.fm user
          <strong>{{lastfm.user}}</strong>
          during {{chart.to_s()}}.
        </p>
        <p>
          <a href='#/lastfm/{{lastfm.user}}' ng-click='wipe_notifications()'>
            &larr; Choose a different time span
          </a>
        </p>
      </div>
      <a class='track' href='{{track.url}}' id='{{track.mbid}}' ng-class='{matching: track.matching, matched: track.matched, missing: track.missing}' ng-repeat='track in filtered_tracks = (chart.tracks | filter:play_count_filter)' target='_blank'>
        <img ng-src='{{track.large_image}}'>
        <div class='track-info'>
          <span class='track-name' tooltip-placement='bottom' tooltip='{{track.name}}'>
            {{track.name}}
          </span>
          <span class='track-artist-divider'>by</span>
          <span class='artist-name' tooltip-placement='bottom' tooltip='{{track.artist}}'>
            {{track.artist}}
          </span>
          <span class='play-count'>{{track.play_count}}x</span>
        </div>
      </a>
    </div>
    <div class='col-md-4'>
      <div class='created-playlist' ng-if='playlist.id'>
        <div class='clearfix'>
          <h3>Your Playlist</h3>
          <p>
            <a class='playlist' href='{{playlist.url}}' target='_blank'>
              <img ng-src='{{playlist.image_url}}'>
              <span class='playlist-name'>{{playlist.name}}</span>
              <span class='track-count'>
                {{playlist.song_count}}
                <span ng-if='playlist.song_count === 1'>
                  track
                </span>
                <span ng-if='playlist.song_count !== 1'>
                  tracks
                </span>
              </span>
            </a>
          </p>
        </div>
        <hr>
      </div>
      <div ng-if='filtered_tracks.length &gt; 0'>
        <form class='create-playlist' ng-submit='create_playlist()'>
          <h3>Create an Rdio Playlist</h3>
          <div class='form-group'>
            <label class='control-label' for='playlist_name'>
              Name:
            </label>
            <input class='form-control' id='playlist_name' ng-model='playlist.name' placeholder='Playlist name' type='text'>
          </div>
          <div class='form-group'>
            <label class='control-label' for='playlist_description'>
              Description:
            </label>
            <textarea class='form-control' id='playlist_description' ng-model='playlist.description' placeholder='Playlist description' rows='3'></textarea>
          </div>
          <div class='form-group'>
            <input class='btn btn-primary' type='submit' value='Create Playlist'>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
