<div ng-controller='PlaylistController' ng-init='lastfm_weeks()'>
  <div class='page-header clearfix'>
    <h1 class='pull-left back-link-container'>
      <a class='back-link' href='#/' ng-click='wipe_notifications()' tooltip-placement='right' tooltip='Choose a different Last.fm user'>
        <span class='glyphicon glyphicon-chevron-left'></span>
      </a>
    </h1>
    <div class='pull-left'>
      <h1>
        Weekly Listening History for
        <span class='lastfm-user'>{{lastfm.user}}</span>
      </h1>
      <h2 class='subtitle' ng-if='year_charts.length &gt; 0'>
        <form class='form-inline'>
          <label class='control-label' for='chart_filters_year_chart'>
            Filter:
          </label>
          <select class='form-control' id='chart_filters_year_chart' ng-model='chart_filters.year_chart' ng-options='year_chart.year for year_chart in year_charts'>
            <option value=''>All years</option>
          </select>
        </form>
      </h2>
    </div>
  </div>
  <div ng-if='year_charts.length &lt; 1'>
    <p>
      There is no weekly listening history for Last.fm user {{lastfm.user}}.
    </p>
    <p>
      <a href='#/' ng-click='wipe_notifications()'>
        &larr; Choose a different Last.fm user
      </a>
    </p>
  </div>
  <div class='chart-weeks'>
    <div class='year-{{year_chart.year}}' ng-repeat='year_chart in filtered_years = (year_charts | filter:chart_year_filter)'>
      <h3>{{year_chart.year}}</h3>
      <a class='week-link' href='#/lastfm/{{lastfm.user}}/chart/{{chart.from}}/{{chart.to}}' ng-class='{trackless: chart.no_tracks}' ng-repeat='chart in year_chart.charts'>
        {{chart.to_s()}}
      </a>
      <hr>
    </div>
  </div>
</div>
